.contact{
    position: relative;
    margin: 6rem auto;
}
.contactfH{
text-align: center;
font-size: 4rem;

}
.bg{
    width: 100%;
    background: rgb(80,87,136);
background: linear-gradient(60deg, rgba(80,87,136,1) 30%, rgba(0,15,96,1) 60%);
    height: 25rem;
    margin-top: 10rem;
    z-index: -99;
    display: flex;
    align-items: center;
}
.cForm{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 4rem;
    top: 8rem;
    padding: 2rem;
    width: 35%;
    background: rgb(241, 240, 240) ;
}

.contactH{
    width: 50%;
    font-weight: bold;
    color: white;
    font-size: 3rem;
    margin: auto 6rem;
}

.cForm>label:not(:first-child){
    margin-top: 2rem;
}
.cForm>label{
    margin-bottom: 1rem;
    opacity: 0.5;
}

.cForm>button{
    margin: 2rem auto;
    width: 100%;
}

.cForm>input,.cForm>input::placeholder{
    border: none;
    border-bottom: 3px solid black;
    background: rgb(241, 240, 240) ;
    outline: none;
    font-weight: bold;
    color: black;
    font-size: .8rem;
}
